<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graPro.web.material_info.mapper.MaterialInfoMapper">
    <select id="getList" resultType="com.graPro.web.material_info.entity.MaterialInfo">
        select m.*, mc.category_name
        from material_info as m
        inner join material_category as mc on m.category_id = mc.category_id
        where mc.category_id = m.category_id
        <if test="param.infoName != '' and param.infoName != null ">
            and m.info_name like CONCAT('%',#{param.infoName},'%')
        </if>
    </select>
    <update id="updateStore">
        <foreach collection="list" item="item" index="index" separator=";">
            update material_info
            <set>
                store = store + #{item.store},
            </set>
            where info_id =#{item.infoId}
        </foreach>
    </update>
    <update id="sendUpdateStore">
        <foreach collection="list" item="item" index="index"  separator=";">
            update material_info
            <set>
                store = store - #{item.store},
            </set>
            where info_id =#{item.infoId}
        </foreach>
    </update>
</mapper>