.el-button{
  --el-button-hover-text-color: #87510f !important;
  --el-button-active-text-color: #e28007 !important;
  --el-button-active-border-color: #ec9a46 !important;
  --el-button-hover-bg-color: #f0e8e0 !important;
  --el-button-hover-border-color: #eed5bb !important;
}
.el-input{
  --el-input-focus-border-color:#ec9a46 !important;
}